/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
     font-size: 62.5%; /*10px*/
     background: #EEE2DC;
     font-family: Kurale;
}

/* border sections for reference */






/******************************************
/* LAYOUT
/*******************************************/
/* make the header span the width of the screen and have a height 300px */
header{
     height: 200px;
     background: #EDC7B7;
}

/* Center the pageHeading and Make its height half the size of its container*/
.pageHeading > h1{
     text-align: center;
     font-size: 6.5rem;
}

/* Put the list of nav elements next to each other across */
.navMenu li{
     height: 50%;
     width: 20%;
     list-style: none; /* remove the dots from the list elements */
     float: left;
     text-align: center;
     font-size: 2.2rem;
}

/*set the size for the instagramPosts section  */
.socialMediaPosts{
     height: 800px;
     width: 40%;
     float: left;
     background: #BAB2B5;
     margin: 2% 0 0 5%;
     padding: 2% 0 0 2%;
}

/* set the size for the aboutJen section */
.aboutJen{
     height: 400px;
     width: 30%;
     float:left;
     background: #AC3B61;
     margin: 2% 0 0 10%;
     padding: 2% 4% 0 4%;
}

/* size the individual posts for the social media section */
.socialMediaPosts .recentPosts{
     width: 80%;
     height: 30%;
     padding: 0 1%;
     margin: 0 0 0 8%;
     background: #EEE2DC;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*Colors and font sizes for text and Backgrounds  */
