/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
     font-size: 62.5%; /*10px*/
     /*background: #EEE2DC;*/
}

/* border sections for reference */






/******************************************
/* LAYOUT
/*******************************************/

/* center the h1 */
h1{
     text-align: center;
}

/* remove bullets from ul */
ul{
     list-style: none;
}

/* position list items next to each other */
li{
     width: 20%;
     height: 50px;
     float: left;
}

/* size and position the socialMediaPosts sections */
.socialMediaPosts{
     height: 750px;
     width:33.333%;
     float: left;
     margin: 0 0 2% 12%; /*pulls the entire section away from the left & bottom sides of the screen*/
}

/* size and position the about section containing aboutJen */
.thisIsJen{
     height:750px;
     width:33.3333%;
     float:right;
     margin: 0 10% 2% 0;
}

/* set height and border the sections for reference*/
.recentPosts{
     height: 250px;
     
     
}

/* add background image to the 1st instagram post 
and position it to fit inside the section*/
.recentPosts.post1{
     background: no-repeat url("../jpegs/chickenAndPasta.jpg");
     background-size: 100%;
     background-position: 0% 79%;

}

/* add a background to the second post and position it to fit
inside the section */
.recentPosts.post2{
     margin-top: 5%;
     margin-bottom: 5%;
     background: url("../jpegs/pokeBowl.jpeg");
     background-size: 100%;
     background-position: 0% 50%;
}

.recentPosts.post3{
     background: url("../jpegs/shrimpAndPasta.jpeg");
     background-size: 100%;
     background-position: 0% 40%;
}

.recipeInfo{
     margin: 35% 0 0 0;
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/